
$maincolor:#B5B1B2;
$buttoncolor:rgb(202, 94, 55);
$formfontcolor:white;
$header-fontsize: 32px;
$form-fontsize:16px;
$button-fontsize:18px;
$label-fontsize:20px;
.container{
    background-color: #63605E;
    width: 100%;
    height: 800px;
}
.signupbox{
    background-color: $maincolor;
    height: 500px;
    width: 400px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10px;
   
}

.signupbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: $label-fontsize;
}
.signupbox input{
    width: 100%;
    margin-bottom: 20px;
}

.signupbox input[type="username"], input[type="email"], input[type="password"]
{
border:none;
border-bottom: 1px solid #fff;
background: transparent;
outline: none;
height: 40px;
color: $formfontcolor;
font-size: $form-fontsize;
}
.signupbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background-color: $buttoncolor;
    color: $formfontcolor;
    font-size: $button-fontsize;
    border-radius: 20px;
    line-height: 40px;
    margin-top: 20px;
    }
.signupbox input[type="submit"]:hover{
cursor: pointer;
background:rgb(230, 74, 17);
color: #000;
}
