
       <div class="contain">
        <div class="main">
            <h2>Join Code</h2>
            <div class="form">
        
                <form [formGroup]="signinForm" class="signin">
                    <p>Name</p>
                    <input type="name" name="name" placeholder="Enter name" formControlName="name"> 
                    <p>Email</p>
                    <input type="email" name="email" placeholder="Enter email" formControlName="email"> 
                    <p>Password</p>
                    <input type="password" name="password" placeholder="Enter password" formControlName="password"> 
                    <input type="button" value="Submit">         
                </form>
               
        
        
            </div>
            
        
        </div>
    </div>
