<div *ngIf="userLogged" class="user-name">{{userLogged.name}}</div>
<div class="grid-container" style="height:100vh;">
    <p class="section">Your files</p>
    <div class="flex-container">
        <div class="box">
            <button class="button center">+</button>
        </div>
        <div class="box"><p class="center">File1</p></div>
        <div class="box"><p class="center">File2</p></div>
        <div class="box"><p class="center">File3</p></div>
    </div>
        
    <p class="section">Shared with you</p>
    <div class="flex-container">
        <div class="box"><p class="center">File1</div>
        <div class="box"><p class="center">File2</div>
        <div class="box"><p class="center">File3</div>
        <div class="box"><p class="center">File4</div>
    </div>
</div>