@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');
.other-client {
	animation-iteration-count: infinite;
	animation-name: blink;
	animation-duration: 1s;
}

@keyframes blink {
	0% {
		visibility: visible;
	}
	50% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}

.flex-container {
	display: flex;
}

.flex-container > div {
	background-color: #1c1618;
	padding: 8px;
	flex: 1 auto;
}

.terminal {
	height: 50%;
	background-color: #1c1618 !important;
}

.CodeMirror,
.cm-s-material {
	background-color: #1c1618 !important;
}

.code-editor {
	height: 50%;
	background-color: #2d2d2d;
	padding: 8px;
	flex: 1 auto;
	font-family: 'Noto Sans JP', sans-serif;
	color: #adadad;
}

.editing {
	padding-left: 0px !important;
}

.terminal {
	height: 50vh;
	background-color: #2d2d2d !important;
}

.code-editor {
	height: 50vh;
}

.sidebar {
	width: 200px;
	border-left: 1px solid #adadad !important;
	border-right: 1px solid #adadad !important;
}

.user-name {
	margin-bottom: 0;
	font-weight: bold;
	padding: 10px;
	text-transform: uppercase;
	border-bottom: 2px solid #adadad;
}

.document {
	background-color: #1d1d1b;
	padding: 10px;
	margin: 0;
	font-weight: bold;
}

.users {
	margin-left: 10px;
}

ul {
	list-style-type: none;
}

li {
	padding: 5px;
	padding-left: 10px;
	border: 1px solid #dddddd;
	border-left: none;
	border-right: none;
}

.bottom {
	position: fixed;
	bottom: 5px;
}

//534F50

/*
.CodeMirror-scroll, .CodeMirror-sizer, .CodeMirror-gutter, .CodeMirror-gutters, .CodeMirror-linenumber {
    width: 50vw !important;
    height: 400px;

}  
*/
