@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

.flex-container {
    display: flex;
    height: 100vh;
    background-color: #2D2D2D !important;
    font-family:'Noto Sans JP', sans-serif !important;
    color: #ADADAD !important;
}
  
.flex-container-div {
    background-color: #2D2D2D;
    padding: 8px;
    height: 100vh;
    flex-basis: 200px;
}

.editing{
    padding-left: 0px !important;
    flex: 1;
}

.terminal {
    height: 50%;
    background-color: #2D2D2D !important;
}

.code-editor{
    height: 285px !important;
    width: 80vw;
}

.sidebar{
    width:200px;
    border-left: 1px solid #ADADAD !important;
    border-right: 1px solid #ADADAD !important;
}

.user-name{
    margin-bottom: 0;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
    border-bottom: 2px solid #ADADAD;
}

.document{
    background-color: #1d1d1b;
    padding: 10px;
    margin: 0;
    margin-bottom:10px;
    font-weight: bold;
}

.users{
    margin-left: 10px;
}

ul{
    list-style-type: none;
}

li {
    padding: 5px;
    padding-left: 10px;
    border: none;
}

.conected-user {
    background-color: rgb(95, 95, 95);
    color: #AEE9E4;
}

.bottom1{
    position: fixed;
    bottom: 40px;
    margin-left: 15px;
}

.bottom2{
    position: fixed;
    bottom: 5px;
    margin-left: 15px;
}

.btn-outline-success{
    border-color: #00A99D;
    color: #00A99D;
}

.btn-outline-success:hover {
    background-color: #00A99D;
    color: white;
}



//534F50

/*
.CodeMirror-scroll, .CodeMirror-sizer, .CodeMirror-gutter, .CodeMirror-gutters, .CodeMirror-linenumber {
    width: 50vw !important;
    height: 400px;

}  
*/