<div class="flex-container">
    <div class="sidebar">
        <p class="user-name">USER</p>
        <p class="document">Current document</p>
        <p class="users">Users conected</p>
        <ul>
            <li>first</li>
            <li>second</li>
        </ul>
        <p class="bottom">Owner: name</p>
    </div>

    <div class="editing">
        <div id="code-editor" [formGroup]="documentForm">
            <ngx-codemirror
                id="editor"
                formControlName="content"
                [options]="{
                    lineNumbers: true,
                    theme: 'icecoder',
                    mode: markdown
                }"
            ></ngx-codemirror>
        </div>
        <div class="terminal"> <app-terminal class="app-terminal" ></app-terminal> </div>
    
    </div>
 
</div>
