
       <div class="contain">
            <div class="main">
                <h2>Join Code</h2>
                <div class="form">
            
                    <form [formGroup]="loginForm" class="login" (ngSubmit)="onSubmit(loginForm.value)">
                        <p>Email</p>
                        <input type="email" name="email" placeholder="Enter email" formControlName="email" autocomplete="off"> 
                        <p>Password</p>
                        <input type="password" name="password" placeholder="Enter password" formControlName="password" autocomplete="off"> 
                        <button type="submit">Login</button>
                    </form>
                   <a [routerLink]="['/signup']">Create account</a>
                </div>
            
            </div>
        </div>