
$maincolor:#B5B1B2;
$buttoncolor:rgb(202, 94, 55);
$formfontcolor:white;
$header-fontsize: 32px;
$form-fontsize:16px;
$button-fontsize:18px;
$label-fontsize:20px;
.container{
    background-color: #63605E;
    width: 100%;
    height: 800px;
}
.loginbox{
    background-color: $maincolor;
    height: 500px;
    width: 400px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 50px 30px;
    border-radius: 10px;
   
}
h1{margin: 0;
padding: 0 0 40px;
text-align: center;
font-size: $header-fontsize;
line-height: 30px;
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: $label-fontsize;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="email"], input[type="password"]
{
border:none;
border-bottom: 1px solid #fff;
background: transparent;
outline: none;
height: 40px;
color: $formfontcolor;
font-size: $form-fontsize;
}
.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background-color: $buttoncolor;
    color: $formfontcolor;
    font-size: $button-fontsize;
    border-radius: 20px;
    }
.loginbox input[type="submit"]:hover{
cursor: pointer;
background:rgb(230, 74, 17);
color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: $form-fontsize;
    line-height: 20px;
    color: #eeffff;;
    align-items: center;
   }
.loginbox a:hover{
   color:#ffc107; 
}
