.contain{
    background-color: #333333;
    height: 100vh;
    font-family:'Noto Sans JP', sans-serif;
}

.main{
    height: 500px;
    width: 400px;
    margin: auto;
    padding-top: 100px;
}

h2{
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 25px;
    background-color: #ADADAD;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.form{
    background-color: #ADADAD;
    width: 400px;
    height: 300px;
    font-size: 16px;
    align-items: center;
    box-sizing: border-box;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.login{
    max-width: 200px;
    padding:10px;
}

label{
    display: block;
}

input{
    display: block;
}

a{
    align-items: center;
}

.btn{
    margin-left: 160px;
}

.btn-outline-success {
	border-color: #00a99d;
    color: #00a99d;
    background-color: white;
}

.btn-outline-success:hover {
	background-color: #00a99d;
	color: white;
}